.containerIndis{

    width: 100%;
    height: calc(100vh - 76px);
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 70px;
}

.warningContainer{

    width: 80%;
    height: 200px;
    

}